body{
    background-color: rgb(126,86,51 );
    color: white;
    text-align: center;
    margin: 15px;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    height: 100vh;
    
}

p{
    text-align: left;
}

a{
    text-decoration: none;
    color:white;
    background: #F1871C;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    padding: 5px 10%;
}

